body {
background-color: burlywood;
}
div {
    padding: 10px;
}
p{
    font-family: Verdana;
    font-size: 15px;
}
p:first-letter{
    font-size: 30px;
}
ol li ul li {
    list-style-type: none;
}
span {
    font-style: italic;
}
h1,h2 {
    color: darkolivegreen;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: revert;
}
li{
    font-family: Tahoma, "Times New Roman";
    font-size: 15px;
}